<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Provides a better starting point for Universal iPhoneOS applications.  Universal applications include separate interfaces customized for iPhone and iPad devices.  This template includes: Navigation Controller, Core Data, respects the user UIInterfaceOrientation selection (adjusts views properly to device orientation.. a requirement for iPad apps).</string>
</dict>
</plist>
